nav {
  font-family: oswald, arial, sans-serif;
  width: 600px;
  padding-top: 30px;
  font-size: 1.4em;
  text-align: right;
  text-transform: uppercase;}
nav a {
  padding-left: 30px;}
nav a:hover, a.current {
  color: #d71a00;}

a {text-decoration: none; color: #000;}
